@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

<p>@Html.ValidationMessageFor(model => model.RecipeId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)

  <input type="submit" value="Add a new Recipe" class="btn bth-default"/>

}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Show all recipes", "Index")</p> 

