@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

    <h1>Edit Recipe</h1>
    <h4> @Html.DisplayFor(model => model.RecipeName)</h4>


    @using (Html.BeginForm())
    {
        
            @Html.HiddenFor(model => model.RecipeId)
            
                <label class="form-label">@Html.DisplayNameFor(model => model.RecipeName)</label>
                @Html.EditorFor(model => model.RecipeName, new { @class = "form-control" })
                <p class="text-danger">@Html.ValidationMessageFor(model => model.RecipeName)</p>
        
              <button type="submit" class="btn btn-success">Save</button>
      
    }
        <p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId }, new { @class = "btn btn-danger" })</p>
        <p>@Html.ActionLink("Back to All Recipe", "Index", null, new { @class = "btn btn-secondary" })</p>
