@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag


<h4>Add a recipe to tag:</h4>

<h4>Add @Html.DisplayFor(model => model.TagId) to recipe:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.Label("Select Tag")
  @Html.DropDownListFor(model => model.TagId, ViewBag.TagList as SelectList, "Select a Tag", new { @class = "form-control" })
  <br>
  <input type="submit" value="Save" />

}

  <p>@Html.ActionLink("Back to All Recipes", "Index")</p> 
